out_to_x no
out_to_console yes
update_interval 1
update_interval_on_battery 5
format_human_readable yes
xftfont Terminus:size=10
mpd_host localhost

TEXT
[
{"full_text":"vol","color":"\#28C3C5","separator":false,"separator_block_width":3},\
{"full_text":"»","color":"\#FFFFFF","separator":false,"separator_block_width":10},\
{"full_text":"${mpd_vol}%","color":"\#28C3C5","separator":false,"separator_block_width":12},\
\
{"full_text":"track","color":"\#FCCF00","separator":false,"separator_block_width":3},\
{"full_text":"»","color":"\#FFFFFF","separator":false,"separator_block_width":10},\
{"full_text":"${mpd_smart}","color":"\#FCCF00","separator":false,"separator_block_width":12},\
\
\
{"full_text":"bat","color":"\#FF0046","separator":false,"separator_block_width":3},\
{"full_text":"»","color":"\#FFFFFF","separator":false,"separator_block_width":10},\
{"full_text":"${battery_percent}%","color":"\#FF0046","separator":false,"separator_block_width":12},\
\
{"full_text":"uptime","color":"\#15D555","separator":false,"separator_block_width":3},\
{"full_text":"»","color":"\#FFFFFF","separator":false,"separator_block_width":10},\
{"full_text":"${uptime_short}","color":"\#15D555","separator":false,"separator_block_width":12},\
\
{"full_text":"wlan0","color":"\#148DBB","separator":false,"separator_block_width":3},\
{"full_text":"»","color":"\#FFFFFF","separator":false,"separator_block_width":10},\
{"full_text":"${addr wlan0} ${wireless_essid wlan0}","color":"\#148DBB","separator":false,"separator_block_width":12},\
\
\
{"full_text":"time","color":"\#EAD0C7","separator":false,"separator_block_width":3},\
{"full_text":"»","color":"\#FFFFFF","separator":false,"separator_block_width":10},\
{"full_text":"${time %a %b %d, %Y %H:%M:%S}","color":"\#EAD0C7","separator":false,"separator_block_width":12}\
],
